.activity {
  @media screen and (max-width:1199px) {
    display: none;      
  }
  
}
.activity-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  
  .activity-item {
    position: relative;
  
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  
  .activity-desc {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    @include font(700, 14px, 1.14, null);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
  
    background: rgba(47, 48, 58, 0.8);
  
    width: 370px;
    height: 70px;
  }