.button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-family: inherit;
  color: var(--primary-white-color);
  @include font(700, 16px, 1.88, 0.06em);

  background-color: var(--accent-color);  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
  background-color: #188ce8;
  }
}