.clients {
  margin-bottom: -30px;
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.clients-item {
  margin-bottom: 30px;

  @include mobile {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @include tablet {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
  @include desktop {
    width: calc(100% / 6 - 30px);
    margin-right: 30px;
  }

}

.clients-logo {
  display: flex;
  width: 100%;
  height: 92px;
  padding: 16px 32px;
  
  align-items: center;
  justify-content: center;

  border: 1px solid;
  border-radius: 4px;
  color: var(--icons-color-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);



  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients-icon {
  fill: currentColor;
}
