.features-title {
  color: var(--title-text-color);
  @include font(700, 14px, 1.14, null);
  text-transform: uppercase;

  @media screen and (max-width:767px) {
    text-align: center;  
  }
}

.features-desc {
  @include font(null, 14px, 1.71, null);
  padding-top: 10px;
}

.features-list {
  margin-bottom: -30px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;    
    }
}

.features-item {
  margin-bottom: 30px;
  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;      
  }

  @include desktop {
    flex-basis: calc(100% / 4 - 30px);
  }

}

.features-icon {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;  
}