.hero {  
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background/hero-mob-2x.jpg);
  }


  @include tablet {

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background/hero-tab.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-background/hero-tab-2x.jpg);
    }
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background/hero-desk.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-background/hero-desk-2x.jpg);
    }
  }    
}

.hero__title {
  width: 80%;
  margin: 0 auto;

  color: var(--primary-white-color);
  @include font(900, 26px, 1.62, 0.06em);

  text-align: center;  
  text-transform: uppercase;

  margin-bottom: 30px;
  @include desktop {
    @include font(900, 44px, 1.31, 0.06em);
  }
}