.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    @include font(700, 26px, 1.19, null);
    text-decoration: none;
  
    &--header {  
      margin-right: 93px;
    }
  
    &--dark {
      color: #000000;
    }
    &--light {
      color: var(--primary-white-color);
    }
  }