.header-nav {
  margin: 0 auto;
  @media screen and (max-width:767px) {
    @include is-hidden;
  }
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__link {
  position: relative;

  padding-bottom: 32px;

  @include font(500, 14px, 1.14, 0.02em);

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: var(--accent-color);
  }
  
  &--current::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
      
    display: block;
    width: 100%;
    height: 4px;
  
    background: #2196f3;
    border-radius: 2px;

    @include desktop {
      bottom: -1px; 
    }
  }

  &:focus,
  &:hover {
    color: var(--accent-color);
  }  
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}