.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 0 auto;

  @include mobile {
    padding: 16px 15px;
  }

  @include tablet {
    padding: 25px 15px;
  }

  border-bottom: 1px solid #ececec;
  
}



