 .social__list {
    display: flex;
    align-items: center;
    justify-content: center;

}
  
.social__item {
    width: 44px;
    height: 44px;

    & + & {
        margin-left: 10px;
    }
}
  

  
.social__link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--icons-color-main);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    }
}
  
.social__icon {
    fill: currentColor;
}

.footer-social-icon {
    fill: var(--primary-white-color);
}