.subscribe-form {
    display: flex;
    max-width: 570px;
    max-height: 86px;
    margin-left: auto;
}
  
.subscribe-form__field {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  
}
  
.subscribe-form__input {
    margin-top: 20px;
    padding: 15px 16px;
    width: 358px;
    
    @include font(null, 16px, 1.25, null);
  
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
}
  
.subscribe__button {
    margin-top: auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__icon {
    display: flex;
    margin-left: 10px;
}