.subscribe-form {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    @include tablet {
        // justify-content: center;
        align-items: center;
    }

    @include desktop {
        align-items: end;
        flex-direction: row;
        margin-left: auto;
        width: 570px;

    }
}
  
.subscribe-form__field {
    display: flex;
    flex-direction: column;  
}
  
.subscribe-form__input {
    margin-top: 20px;
    padding: 15px 16px;
    max-height: 50px;
    
    @include font(null, 16px, 1.25, null);
  
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;

    @include tablet {
        width:55vw;
    }
    @include desktop {
        max-width: 358px;
    }
}
  
.subscribe__button {  
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    @include desktop {
        margin-left: 12px;
    }    
   
}

.subscribe__icon {
    display: flex;
    margin-left: 10px;
}