
.team-section {
  background: #f5f4fa;
}

.team {
  margin-top: -30px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    }
  }

.team-item {
  margin-top: 30px;
  width: 100%;
  height: auto;

  @include tablet {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @include desktop {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-card {
  padding: 30px 32px 24px 32px;

  @include tablet {
    padding: 30px 32px;
  }

  @include desktop {
    padding: 30px 32px;
  }

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }

.team .title {
  color: var(--title-text-color);
  @include font(500, 16px, 1.19, null);
  text-align: center;
}

.team-card_desc {
  @include font(null, 16px, 1.19, null);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 16px;
}

