button {
    cursor: pointer;
}

img {
    display: block;
    min-width: 100%;
    width: 100%;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
    
.section {
    padding: 94px 0 94px 0; 
}
  